*{margin: 0; padding: 0; box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
body{
	dispaly: flex;
	flex-direction: column;
	height: 100vh;
}
.code-wrapper{
	flex: 1;
	height: 50%;
	padding: 20px;
}
.preview-wrapper{
	flex: 1;
	height: 50%;
}
#code{
	height: 100%;
	overflow: hidden;
}